/*
    --------------------
    Definér variabler
    --------------------
*/

:root {
    --main-bg-color: #1F1319;
    --primary-color: #4F1F9D;
    --secondary-color: #E7267B;
    --ui-element-color: #F59A2D;
    --ui-element-color-darker: #D67A0A;
    --main-text-color: #FFFFFF;
    --small-gap: 14px;
    --medium-gap: 30px;
    --large-gap: 46px;
    --huge-gap: 80px;
    --desktop-width: 1224px;
    --tablet-width: 768px;
    --phone-width: 480px;
    --small-phone-width: 320px;
    --standard-transition: 200ms ease-in-out;
    --fast-transition: 100ms ease-in-out;
    --border-radius: 1.5rem;
}

/*
    --------------------
    Gør styling ens på tværs af browsere + andet standard-styling
    --------------------
*/

body {
    margin: 0;
    font: 18px/1.5 mr-eaves-xl-sans, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

div,
section,
footer {
    position: relative;
}

a,
button,
[type='button'],
[type='submit'] {
    color: inherit;
}

textarea,
[type='text'],
[type='email'],
[type='submit'] {
    appearance: none;
    -webkit-appearance: none;
}

textarea,
[type='text'],
[type='email'] {
    border: none;
    font: inherit;
}

textarea {
    resize: none;
}

a {
    background: transparent;
}

button,
[type='button'],
[type='submit'] {
    margin: 0;
    background: transparent;
    border: 0;
    overflow: visible;
    font: inherit;
    letter-spacing: inherit;
    cursor: pointer;
}

/*
    --------------------
    Animationer
    --------------------
*/

@keyframes hero-wave-enter {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes hero-image-enter {
    0% {
        transform: translateX(-15%) translateY(100%);
    }
    100% {
        transform: translateX(-15%) translateY(0);
    }
}

@keyframes hero-image-enter-phone {
    0% {
        transform: translateX(calc(-50% - 15px)) translateY(100%);
    }
    100% {
        transform: translateX(calc(-50% - 15px)) translateY(0);
    }
}

@keyframes hero-logo-enter {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes hero-heading-enter {
    0% {
        transform: translateX(60px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*
    --------------------
    Standard-elementer + gennemgående elementer
    --------------------
*/

html {
    scroll-behavior: smooth;
}

body {
    background: var(--main-bg-color);
    color: var(--main-text-color);
}

.menu {
    z-index: 3;
}

header {
    z-index: 2;
}

main {
    z-index: 1;
}

footer {
    z-index: 0;
}

.section-inner {
    margin: 0 auto;
    width: 100%;
    max-width: var(--desktop-width);
    padding: var(--large-gap) var(--medium-gap);
    box-sizing: border-box;
}

h1,
h2,
.h2,
h3,
h4,
em,
label,
button,
[type='button'],
[type='submit'],
.btn,
.hamburger-text,
.main-nav-item,
.go-down-text,
.case-subheading {
    font-weight: 900;
    font-style: italic;
    letter-spacing: -0.025em;
}

h1, h2, h3, h4 {
    line-height: 1.125em;
}

h2 {
    font-size: 2.25rem;
}

p, a {
    font-weight: 400;
    font-style: normal;
}

a {
    transition: color var(--fast-transition);
}

a:hover {
    color: var(--ui-element-color);
}

.top-marker {
    position: absolute;
    top: 0;
    left: 0;
}

/*
    --------------------
    UI-elementer
    --------------------
*/

.btn {
    box-sizing: border-box;
    height: 54px;
    padding: var(--small-gap) var(--medium-gap);
    border-radius: 27px;
    color: var(--main-text-color);
    border: 3px solid var(--main-text-color);
    font-size: 1.33rem;
    line-height: 1em;
    text-decoration: none;
    transition: all var(--standard-transition);
    transition-property: background-color, color;
}

.btn:hover {
    color: var(--main-bg-color);
    background: var(--main-text-color);
}

.cta-btn {
    background: var(--ui-element-color);
    border: 3px solid transparent;
    color: var(--main-bg-color);
    transition: background-color var(--standard-transition);
}

.cta-btn:hover {
    background: var(--ui-element-color-darker);
}

label {
    margin-bottom: 2px;
    position: relative;
    left: 8px;
}

input,
textarea {
    padding: 10px 12px;
    border-radius: 8px;
}

/*
    --------------------
    Styling til kontaktformular
    --------------------
*/

.contact-form {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    padding: var(--large-gap) var(--large-gap);
    background: var(--main-bg-color);
    border-radius: var(--border-radius); 
}

.contact-form-heading {
    margin-bottom: var(--medium-gap);
}

.contact-name-input {
    grid-area: name;
}

.contact-email-input {
    grid-area: email;
}

.contact-message {
    grid-area: message;
}

.contact-form-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "name email" 
        "message message";
    grid-row-gap: var(--small-gap);
    grid-column-gap: var(--medium-gap);
}

.form-field {
    display: flex;
    flex-direction: column;
}

.contact-below-fields {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
}

.contact-submit-btn {
    margin-top: var(--medium-gap);
}

.info-text {
    font-size: 0.875rem;
    opacity: 0.5;
    text-align: right;
}

/*
    --------------------
    Header, menu og tilhørende styling
    --------------------
*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.header-inner {
    width: 100%;
    padding: var(--medium-gap);
    max-width: var(--desktop-width);
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-logo {
    width: 150px;
    fill: var(--main-text-color);
    display: block;
    margin-top: -10px;
    pointer-events: initial;
}

.hamburger-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform-origin: center center;
    transition: transform var(--standard-transition);
    pointer-events: initial;
}

.hamburger-wrapper:hover {
    transform: scale(1.125);
}

.hamburger {
    fill: var(--ui-element-color);
    width: 46px;
}

.hamburger-text {
    color: var(--ui-element-color);
    font-size: 1.125rem;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: var(--primary-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--standard-transition);
}

.menu.visible {
    opacity: 1;
    pointer-events: initial;
}

.menu-inner {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: var(--desktop-width);
    padding: 0 var(--medium-gap);
    box-sizing: border-box;
    position: relative;
}

.close-menu {
    position: absolute;
    top: var(--medium-gap);
    right: var(--medium-gap);
    height: 42px;
    width: 42px;
    fill: var(--ui-element-color);
    cursor: pointer;
    transform-origin: center center;
    transition: transform var(--standard-transition);
}

.close-menu:hover {
    transform: scale(1.125);
}

.main-nav {
    position: relative;
    top: calc(46px + var(--huge-gap));
}

.main-nav-item {
    position: relative;
    display: inline-block;
    font-size: 7rem;
    text-decoration: none;
    line-height: 1.25em;
    opacity: 0.3;
    transition: opacity var(--standard-transition);
    width: 100%;
}

.main-nav-item::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 40px;
    height: 8px;
    width: calc(100% - 40px - 2 * var(--medium-gap));
    background: var(--main-text-color);
    opacity: 0;
}

.main-nav-item:hover {
    opacity: 1;
    color: var(--main-text-color);
}

.main-nav-item.current-page {
    opacity: 1;
    margin-bottom: 10px;
}

.main-nav-item.current-page::after {
    opacity: 1;
}

.menu-some-wrapper {
    position: absolute;
    bottom: var(--medium-gap);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.some-icon {
    height: 28px;
    width: 28px;
    fill: #FFFFFF;
    opacity: 0.3;
    transition: opacity var(--standard-transition);
}

.some-icon:hover {
    opacity: 1;
}

.menu-some-icon {
    display: flex;
    align-items: flex-end;
    margin: 0 var(--small-gap);
}

.menu-some-icon:first-child {
    margin-left: 0;
}

.menu-some-icon:last-child {
    margin-right: 0;
}

/*
    --------------------
    Styling til footer
    --------------------
*/

.footer-extras {
    overflow: hidden;
    height: 200px;
}

.footer-wave-back,
.footer-wave-front {
    position: absolute;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
}

.footer-wave-back {
    fill: var(--secondary-color);
}

.footer-wave-front {
    fill: var(--primary-color);
}

.footer-inner {
    position: relative;
    padding: var(--small-gap) var(--medium-gap) var(--large-gap);
    margin: 0 auto;
    width: 100%;
    max-width: var(--desktop-width);
    box-sizing: border-box;
}

.footer-logo {
    fill: var(--ui-element-color);
    width: 240px;
    margin-bottom: var(--large-gap);
}

.footer-heading {
    max-width: 400px;
    margin-bottom: var(--medium-gap);
}

.footer-some-wrapper {
    display: grid;
    grid-column-gap: var(--medium-gap);
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--medium-gap);
}

.footer-link {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    padding-left: 44px;
}

.footer-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 28px;
    fill: var(--main-text-color);
}

/*
    --------------------
    Styling til forside
    --------------------
*/

.index-section-title {
    font-size: 25rem;
    line-height: 1em;
    opacity: 0.3;
}

.see-all-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*
    --------------------
    Hero section
    --------------------
*/

.hero-section {
    height: 100vh;
    box-sizing: border-box;
}

.hero-extras-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.hero-wave-front,
.hero-wave-back {
    position: absolute;
    bottom: -50px;
    left: 0;
    height: 25vw;
    min-height: 250px;
    max-height: 350px;
}

.hero-wave-back {
    fill: var(--secondary-color);
    animation: hero-wave-enter 4s ease-out forwards;
}

.hero-image {
    position: absolute;
    width: 642px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-15%) translateY(100%);
    animation: hero-image-enter 1.5s 300ms ease-out forwards;
}

.hero-wave-front {
    fill: var(--primary-color);
    animation: hero-wave-enter 2.5s ease-out forwards;
}

.hero-section-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    padding: var(--large-gap) var(--huge-gap);
}

.hero-logo {
    fill: var(--main-text-color);
    width: 400px;
    transform-origin: center center;
    transform: scale(0.5);
    opacity: 0;
    animation: hero-logo-enter 500ms 1.2s ease-out forwards;
}

.hero-heading {
    width: 100%;
    max-width: 450px;
    position: relative;
    left: 80px;
    transform: translateX(60px);
    opacity: 0;
    font-size: 2.25rem;
    animation: hero-heading-enter 700ms 1.6s ease-out forwards;
}

.go-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.go-down-button {
    fill: var(--ui-element-color);
    width: 70px;
    transform-origin: center center;
    transition: transform var(--standard-transition);
    transform: scale(1);
}

.go-down:hover .go-down-button {
    transform: scale(1.125);
}

/*
    --------------------
    Cases section (det meste af denne styling går også igen på cases-siden)
    --------------------
*/

.cases-section {
    background: var(--primary-color);
    margin-top: -1px;
    overflow: hidden;
}

.cases-section-inner {
    padding: 0 var(--medium-gap) 120px;
}

.case {
    display: flex;
    gap: var(--large-gap);
    margin-bottom: var(--huge-gap);
    align-items: center;
}

.case:last-child {
    margin-bottom: 0;
}

.case:nth-child(even) {
    flex-direction: row-reverse;
}

.case-image {
    position: relative;
    height: 400px;
    width: 50%;
    transform-origin: left;
    transform: scaleX(1.3);
    background: var(--ui-element-color);
    box-shadow: -10px 10px 0px 0px var(--main-bg-color);
    -webkit-box-shadow: -10px 10px 0px 0px var(--main-bg-color);
    -moz-box-shadow: -10px 10px 0px 0px var(--main-bg-color);
}

.case:nth-child(even) .case-image {
    transform-origin: right;
}

.case:first-child .case-image {
    border-radius: 50% 60% 30% 60% / 50% 60% 60% 70%;
}

.case:nth-child(2) .case-image {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
}

.case:nth-child(3) .case-image {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
}

.case:nth-child(4) .case-image {
    border-radius: 50% 60% 30% 60% / 50% 60% 60% 70%;
}

.case:nth-child(5) .case-image {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
}

.case:nth-child(6) .case-image {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
}

.case-text {
    width: 50%;
}

.case-heading {
    font-size: 2.75rem;
}

.case-subheading {
    font-size: 1.5rem;
    margin-bottom: var(--small-gap);
}

/*
    --------------------
    About section
    --------------------
*/

.about-section {
    background: var(--primary-color);
    margin-top: -1px;
}

/*
    --------------------
    About section
    --------------------
*/

.contact-section {
    background: var(--primary-color);
    margin-top: -1px;
}

/*
    ----------------------------------------
    Media queries
    ----------------------------------------
*/

@media screen and (max-width: 1223px) /* desktop-width minus 1 pixel */ {

    /*
    --------------------
    Elementer til forside
    --------------------
    */

    .index-section-title {
        font-size: 18rem;
    }

}

@media screen and (max-width: 767px) /* tablet-width minus 1 pixel */ {

    /*
    --------------------
    Standard-elementer + gennemgående elementer
    --------------------
    */

    h2,
    .h2 {
        font-size: 2rem;
    }

    /*
    --------------------
    Styling til kontaktformular
    --------------------
    */

    .contact-form {
        padding: var(--large-gap) var(--medium-gap);
    }

    .contact-form-fields {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "name" 
            "email" 
            "message";
        grid-row-gap: var(--small-gap);
        grid-column-gap: var(--medium-gap);
    }

    /*
    --------------------
    Elementer til forside
    --------------------
    */

    .index-section-title {
        font-size: 10rem;
    }

    /*
    --------------------
    Header, menu og tilhørende styling
    --------------------
    */
    
    .main-nav-item {
        font-size: 5rem;
    }

    .main-nav-item::after {
        width: calc(100% - 40px);
    }

    /*
    --------------------
    Styling til footer
    --------------------
    */

    .footer-content {
        grid-template-columns: 1fr 1fr;
    }

    .privacy-footer-link {
        margin-top: var(--medium-gap);
    }

    /*
    --------------------
    Hero section
    --------------------
    */

    .hero-wave-front,
    .hero-wave-back {
        bottom: 0;
        left: -100px;
    }

    .hero-image {
        bottom: 100px;
        left: calc(40%);
        width: 500px;
    }

    .hero-section-inner {
        padding: var(--large-gap) var(--large-gap);
    }

    .hero-logo {
        width: 320px;
    }

    .hero-heading {
        max-width: 400px;
        left: 50px;
        font-size: 1.75rem;
    }

    /*
    --------------------
    Cases section (det meste af denne styling går også igen på cases-siden)
    --------------------
    */

    .case {
        flex-direction: column;
        gap: var(--medium-gap);
    }
    
    .case:nth-child(even) {
        flex-direction: column;
    }
    
    .case-image {
        height: 300px;
        width: calc(100% + 200px);
        transform: scaleX(1);
    }

    .case-text {
        width: 100%;
    }
}

@media screen and (max-width: 479px) /* phone-width minus 1 pixel */ {

    /*
    --------------------
    Standard-elementer + gennemgående elementer
    --------------------
    */

    h2,
    .h2 {
        font-size: 1.5rem;
    }

    .section-inner {
        padding: var(--large-gap) var(--small-gap);
    }

    /*
    --------------------
    Styling til kontaktformular
    --------------------
    */

    .contact-below-fields {
        flex-direction: column;
        align-items: flex-start;
    }

    .info-text {
        margin-top: var(--medium-gap);
        align-self: flex-end;
    }

    /*
    --------------------
    Elementer til forside
    --------------------
    */

    .index-section-title {
        font-size: 6rem;
    }

    /*
    --------------------
    Header, menu og tilhørende styling
    --------------------
    */
    
    .main-nav-item {
        font-size: 4.5rem;
    }

    /*
    --------------------
    Styling til footer
    --------------------
    */

    .footer-content {
        grid-template-columns: 1fr;
    }

    /*
    --------------------
    Hero section
    --------------------
    */

    .hero-wave-front,
    .hero-wave-back {
        left: -360px;
    }

    .hero-image {
        bottom: 100px;
        left: 50%;
        transform: translateX(calc(-50% - 15px)) translateY(100%);
        width: 390px;
        animation: hero-image-enter-phone 1.5s 1s ease-out forwards;
    }

    .hero-section-inner {
        top: 80px;
        padding: var(--large-gap) var(--medium-gap);
    }

    .hero-logo {
        width: 100%;
        max-width: 320px;
    }

    .hero-heading {
        max-width: 340px;
        left: 30px;
        font-size: 1.5rem;
    }

    /*
    --------------------
    Cases section (det meste af denne styling går også igen på cases-siden)
    --------------------
    */

    .cases-section-inner {
        padding-bottom: 120px;
    }
}